.window-projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projects-header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

.projects-header-title {
    padding-left: 1.5vw;
    font-family: 'Space Grotesk';
    font-size: 6vh;
}

.projects-main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projects-carousel {
    width: 100%;
    height: 45vh;
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.projects-carousel-card {
    position: absolute;
    top: 2.5vh;
    width: 75vh;
    height: 40vh;
    border: 1px solid white;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.projects-carousel-card.left {
    transform: translateX(calc(-50vw - 40%));
    transition: transform 1.5s ease;
}

.projects-carousel-card.outLeft {
    transform: translateX(calc(-100vw - 80%));
    transition: transform 1.5s ease;
}

.projects-carousel-card.right {
    transform: translateX(calc(50vw + 40%));
    transition: transform 1.5s ease;
}

.projects-carousel-card.active {
    transform: translateX(0);
    transition: transform 1.5s ease;
}

.projects-carousel-card.none {
    opacity: 0;
    transform: translateX(calc(100vw + 80%));
}

.projects-cards {
    width: 100%;
    height: fit-content;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-cards-separator {
    width: 100%;
    height: 3.5vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projects-cards-separator-text {
    font-family: 'Space Grotesk';
    font-size: 3.5vh;
    font-weight: 300;
    color: white;
    margin-left: 2vw;
    margin-right: 4vw;
}

.projects-cards-separator-border {
    flex: 1;
    height: 2px;
    background-color: #8d8e99;
}

.projects-card {
    width: 100%;
    height: 20vh;
    margin-bottom: 4vh;
    background-color: #1b1f24;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: row;
}

.projects-card-image {
    height: 100%;
    border-top-left-radius: 2.5vh;
    border-bottom-left-radius: 2.5vh;
    border-right: 2px #616974 solid;
    padding-right: 0.8vw;
    margin-right: 0.8vw;
}

.projects-card-about {
    flex: 1;
    height: 100%;
    border-top-right-radius: 2.5vh;
    border-bottom-right-radius: 2.5vh;
}