body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: #14171b;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    background-color: #1b1f24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #494040;
    z-index: 1000; /* faz ficar acima de outros elementos */
}

.header-info {
    width: fit-content;
    display: flex;
    align-items: center;
}

.header-info-title {
    color: #8d8e99;
    margin: 0;
    font-family: 'Space Grotesk';
    font-size: 2vh;
    padding-left: 2%;
    width: max-content;
    display: inline-block;
    white-space: nowrap;
}

.header-info-dwt-logo {
    margin-left: 1vw;
    width: 3.8vh;
}

.header-pages {
    width: max-content;
    white-space: nowrap;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content:space-around;
}

.header-pages-button {
    color: #8d8e99;
    font-size: 2vh;
    font-family: 'Space Grotesk';
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    max-width: 100%; 
    background-color: transparent;
    border: none;
    margin: 0 1rem;
    cursor: pointer;

    transition: color 0.25s;
}

.header-pages-button:hover {
    color: rgb(104, 104, 209);
}

.header-pages-separator {
    color: #8d8e99;
    font-size: 2vh;
    font-family: 'Space Grotesk';
    cursor: default;
}

.header-social {
    width: 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 0.5vw;
}

.header-social-github {
    background-color: transparent;
    border: none;
    width: 3.8vh;
    height: 3.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-social-makerworld {
    background-color: transparent;
    border: none;
    width: 3.8vh;
    height: 3.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-social-github-svg {
    height: 75%;
    fill: white;
}

.header-social-makerworld-svg {
    height: 70%;
    fill: white;
}

.sidebar {
    position: fixed;
    top: 4vh;
    left: 0;
    width: 2.5vw;
    height: 96vh;
    border-right: 1px solid #494040;
    background-color: #1b1f24;
}

.window {
    flex: 1;
    margin-top: 4vh;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.welcome-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
}

.welcome-header-1 {
    font-family: 'Roboto';
    color: white;
    font-size: 10vh;
    max-width: 40vw;
    display: flex;
    align-items: center;
    margin: 0;
}

.welcome-header-2 {
    font-family: 'Space Grotesk';
    color: white;
    font-size: 10vh;
    margin: 0;
    color: #d7da2f;
    white-space: nowrap;
    overflow: hidden;
}

.news-header {
    width: 100%;
    height: 5vh;
    background-color: #1f2b38;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    border-top-left-radius: 2.5vh;
    border-top-right-radius: 2.5vh;
}

.news-header-title {
    text-align: left;
    font-family: 'Roboto';
    font-size: 2.5vh;
    font-weight: 200;
    padding-left: 2.5vh;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.news {
    position: absolute;
    width: 100vh;
    height: 60vh;
    margin-top: 7vh;
    border: 1px solid white;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.news.left {
    transform: translateX(calc(-50vw - 40%));
    transition: transform 1.5s ease;
}

.news.outLeft {
    transform: translateX(calc(-100vw - 80%));
    transition: transform 1.5s ease;
}

.news.right {
    transform: translateX(calc(50vw + 40%));
    transition: transform 1.5s ease;
}

.news.active {
    transform: translateX(0);
    transition: transform 1.5s ease;
}

.news.none {
    opacity: 0;
    transform: translateX(calc(100vw + 80%));
}